.hero {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.hero-left {
    padding: 24px;
    margin: 38px;
    color: #0e1d31;
}

.hero-right {
    padding: 24px;
    margin: 38px 38px 38px 0;
}

.hero-name {
    font-family: "Kodchasan", sans-serif;
    font-weight: 700;
    font-size: 112px;
    line-height: .8;
    margin: 8px;
    text-align: center;
}
.hero-name:hover {
    cursor: default;
}


.hero-title {
    margin-top: 16px;
    font-size: 32px;
    font-weight: normal;
    text-transform: uppercase;
}