.hero {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.hero-left {
    margin: 38px;
    color: #0e1d31;
}

.hero-right {
    margin: 38px 38px 38px 0;
}

.hero-name {
    font-family: "Kodchasan", sans-serif;
    font-weight: 700;
    font-size: 112px;
    line-height: .8;
    margin: 0;
    text-align: center;
}
.hero-name:hover {
    cursor: default;
}


.hero-title {
    margin: 16px 0 0;
    font-size: 32px;
    font-weight: normal;
    text-transform: uppercase;
}

#profile {
    height: 235px;
    width: 235px;
    border-radius: 150px;
}