.hero {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.hero-left {
    color: #0e1d31;
}

.hero-right {
}

.hero-title {
    text-align: left;
    text-transform: uppercase;
    font-size: 24px;
    margin: 8px 0;
}

#profile {
    width: 200px;
    border-radius: 50%;
}