.experience-years {
    float: left;
    width: 180px;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.project {
    margin: 24px 0;
}

.project-description {
    margin: 0;
}

.project-list {
    display: flex;
    flex-direction: column;

}

.project-text {
    margin-left: 224px;
}

.project-title {
    text-align: left;
    font-size: 24px;
    margin: 0;
}
.project-title a {
    font-weight: bold;
}

.project-thumbnail {
    float: left;
    width: 180px;
}

.tag {
    color: white;
    background-color: #888888;
    margin-right: 8px;
    padding: 2px 6px;
    border-radius: 16px;
    text-wrap: nowrap;
    font-size: 14px;
    font-weight: bold;
}

.tags-list {
    display: flex;
    flex-wrap: wrap;
}
