.project {
    margin: 24px;
}

.project-list {
    display: flex;
    flex-direction: column;

}

.project-title {
    text-align: left;
    font-size: 24px;
}
.project-title a {
    font-weight: bold;
}

.project-thumbnail {
    float: left;
    width: 250px;
    margin-right: 24px;
}
