.linkList li {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 2;
    position: relative;
    left: 8px;
}

li a {
    color: #0e1d31;
}
li a:hover {
    transition: color .7s;
}

.sidebar {
    background-color: rgb(228, 228, 228);
    height: 100vh;
    width: 240px;
    position: fixed;
    left: 0;
    top: 0;
}

.sidebar-name {
    margin: 96px auto 64px;
    text-align: center;
}

.sidebar-links {
    margin: 8px 44px;
}


.socialIcons {
    margin: 8px auto;
    width: 151px;
}

.socialIcons a {
    font-size: 32px;
    color:#0e1d31;
}
  
.socialIcon {
    margin-right: 10px;
    padding: 5px 10px 0 0;
}
.socialIcon:hover {
    color: #747bff;
    transition: color .7s;
}